*{
  box-sizing: border-box;
}

:root{
  --my-color: rgb(138, 152, 209);
}

html {
  font-size: 1.2rem;
}

body{
  margin: 0;
  min-height: 100vh;
}

header{
  color: var(--my-color);
  background: #000;
  text-align: center;
  padding-block: 12px;
}

nav{
  color: var(--my-color);
  background-color: rgb(120, 7, 242);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul{
  list-style: none;
  padding: 0;
  display: flex;
}

nav > ul a {
  text-decoration: none;
  color: var(--my-color);
  margin-inline: 8px;
  border-bottom: 1px solid #fff
}

nav a {
  color: var(--my-color);
}